FB_PAGE_ID= 
FB_ACCESS_TOKEN= ""
FB_GRAPH_API_VERSION=v25.0
APP_TIMEZONE=Africa/Algiers
FETCH_INTERVAL_MINUTES=5
SLA_CHECK_INTERVAL_MINUTES=60
MONTHLY_TOPIC_UPDATE_ENABLED=true
MONTHLY_UPDATE_DAY=last
MONTHLY_UPDATE_HOUR_UTC=23
MONTHLY_UPDATE_MINUTE_UTC=55
TOPIC_CONFIDENCE_THRESHOLD=0.80
TOPIC_EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
